* {
    font-family: Segoe UI;
}

body {
    background-color: #F5F6F7;
}

/*
    Button
 */

input[type="button"] {
    -webkit-appearance: none;
    outline: none;
    border-style: solid;
    border-width: 1px;
    padding-left: 1.5%;
    padding-right: 1.5%;

    background: #E1E1E1;
    border-color: #ADADAD;
}

input[type="button"]:hover {
    background: #E5F1FB;
    border-color: #0078D7;
}

input[type="button"]:active {
    background: #CCE4F7;
    border-color: #005499;
}

/*
    Text
 */

input[type="text"] {
    -webkit-appearance: none;
    outline: none;
    border-style: solid;
    border-width: 1px;

    border-color: #7A7A7A;
}

input[type="text"]:hover {
    border-color: #0078D7;
}

input[type="text"]:active {
    border-color: #171717;
}

input[type="text"]:focus {
    border-color: #171717;
}

/*
    Range
 */

input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 125px;
    height: 1px;
    border-style: solid;
    border-width: 1px;

    background: #E7EAEA;
    border-color: #D6D6D6;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: none;
    width: 11px;
    height: 23px;

    background: #007AD9;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #CCCCCC;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: #171717;
}