* {
    font-family: Segoe UI;
}

body {
    background-color: #F5F6F7;
}

/*
    Button
 */

input[type="button"] {
    -webkit-appearance: none;
    outline: none;
    border-style: solid;
    border-width: 1px;

    background: linear-gradient(#F0F0F0, #E5E5E5);
    border-color: #C5C5C5;
}

input[type="button"]:hover {
    background: linear-gradient(#ECF4FC, #DCECFC);
    border-color: #7EB4EA;
}

input[type="button"]:active {
    background: linear-gradient(#DAECFC, #C4E0FC);
    border-color: #569DE5;
}

input[type="button"]:focus {
    border-color: #569DE5;
}

/*
    Text
 */

input[type="text"] {
    -webkit-appearance: none;
    outline: none;
    border-style: solid;
    border-width: 1px;

    border-color: #ABADB3;
}

input[type="text"]:hover {
    border-color: #7EB4EA;
}

input[type="text"]:active {
    border-color: #569DE5;
}

input[type="text"]:focus {
    border-color: #569DE5;
}

/*
    Range
 */

input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 125px;
    height: 1px;
    border-style: solid;
    border-width: 1px;

    background: #E7EAEA;
    border-color: #D6D6D6;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: none;
    width: 11px;
    height: 23px;
    border-style: solid;
    border-width: 1px;

    background: linear-gradient(#F0F0F0, #E5E5E5);
    border-color: #ACACAC;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: linear-gradient(#ECF4FC, #DCECFC);
    border-color: #7EB4EA;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: linear-gradient(#DAECFC, #C4E0FC);
    border-color: #569DE5;
}

/*
    Number
 */

input[type="number"] {
    -webkit-appearance: none;
    outline: none;
    border-style: solid;
    border-width: 1px;

    border-color: #ABADB3;
}

input[type="number"]:hover {
    border-color: #7EB4EA;
}

input[type="number"]:active {
    border-color: #569DE5;
}

input[type="number"]:focus {
    border-color: #569DE5;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    outline: none;
    width: 11px;
    height: 23px;
    margin: 1px;
    opacity: 1;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAASCAYAAACEnoQPAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xOdTWsmQAAAB+SURBVDhPpdHLCcAgEEXR6b8W29KF+OtgwgR8qHmQaBbHhXoRHFHVY+Kc01N33FrbhrjWug1xzpkSEbpvEKeUHizs2DniGONkDLv1DuIQwjbEp+jwv/r3si1sjm8Ql1Im7LfXO4jZHMeQnSNeZ9hZyPYNYu/9NsSn6Py+UbkAQLJlKRdACaEAAAAASUVORK5CYII=');
    padding-right: 4px;
    padding-bottom: 31px;
}

input[type="number"]::-webkit-inner-spin-button:hover {
}

input[type="number"]::-webkit-inner-spin-button:active {
}

input[type="number"]::-webkit-inner-spin-button:focus {
}

/*
    Other
 */

.disabled {
    border-color: #D9D9D9;
    background: #EFEFEF;
    color: #838383;
}